body{
    margin: 0;
    font-family: sans-serif;
    background-color: darkslategray;
    color:whitesmoke;
    display: grid;
    grid-template-columns: 250px 1fr;
}
article{
    background-color: rgb(51, 90, 79);
    border-radius: 15px;
    padding: 2rem;
}
.cards{
    display: flex;
    gap: 20px;
}
ul{
    list-style: none;
    padding: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td{
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}